In [1]:
import pandas as pd
import sqlalchemy as alch

In [2]:
sw5 = pd.read_csv("sw/SW_EpisodeV.txt", sep='""')
sw5.head()

/home/andrestart/anaconda3/envs/iron/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                              "character" "dialogue"
0  "1" "LUKE" "Echo Three to Echo Seven. Han, old...
1        "2" "HAN" "Loud and clear, kid. What's up?"
2  "3" "LUKE" "Well, I finished my circle. I don'...
3  "4" "HAN" "There isn't enough life on this ice...
4  "5" "LUKE" "Right. I'll see you shortly. There...

In [3]:
sw5.columns = ["col"]

In [4]:
sw5.columns

Index(['col'], dtype='object')

In [5]:
df5 = sw5['col'].str.split('"', expand = True)
df5

,0,1,2,3,4,5,6,7,8
0,,1,,LUKE,,"Echo Three to Echo Seven. Han, old buddy, do y...",,None,None
1,,2,,HAN,,"Loud and clear, kid. What's up?",,None,None
2,,3,,LUKE,,"Well, I finished my circle. I don't pick up an...",,None,None
3,,4,,HAN,,There isn't enough life on this ice cube to fi...,,None,None
4,,5,,LUKE,,Right. I'll see you shortly. There's a meteori...,,None,None
...,...,...,...,...,...,...,...,...,...
834,,835,,LUKE,,I'll meet you at the rendezvous point on Tato...,,None,None
835,,836,,LANDO,,"Princess, we'll find Han. I promise.",,None,None
836,,837,,LUKE,,"Chewie, I'll be waiting for your signal.",,None,None
837,,838,,LUKE,,"Take care, you two. May the Force be with you.",,None,None
838,,839,,LUKE,,Ow!,,None,None

In [6]:
df5["episode"] = "episode5"

In [7]:
df5n = df5.drop(df5.columns[[0, 1, 2, 4,6,7,8]], axis=1)

In [8]:
df5n = df5n.rename(columns={3:'char', 5:'dialogue'})
df5n

      char                                           dialogue   episode
0     LUKE  Echo Three to Echo Seven. Han, old buddy, do y...  episode5
1      HAN                    Loud and clear, kid. What's up?  episode5
2     LUKE  Well, I finished my circle. I don't pick up an...  episode5
3      HAN  There isn't enough life on this ice cube to fi...  episode5
4     LUKE  Right. I'll see you shortly. There's a meteori...  episode5
..     ...                                                ...       ...
834   LUKE  I'll meet you at the rendezvous point on  Tato...  episode5
835  LANDO               Princess, we'll find Han. I promise.  episode5
836   LUKE           Chewie, I'll be waiting for your signal.  episode5
837   LUKE     Take care, you two. May the Force be with you.  episode5
838   LUKE                                                Ow!  episode5

[839 rows x 3 columns]

# Episode 5 done

In [9]:
sw4 = pd.read_csv("sw/SW_EpisodeIV.txt", sep=' "" ')
sw4.head()

/home/andrestart/anaconda3/envs/iron/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                              "character" "dialogue"
0  "1" "THREEPIO" "Did you hear that?  They've sh...
1                     "2" "THREEPIO" "We're doomed!"
2  "3" "THREEPIO" "There'll be no escape for the ...
3                      "4" "THREEPIO" "What's that?"
4  "5" "THREEPIO" "I should have known better tha...

In [10]:
sw4.columns = ["col"]

In [11]:
df4 = sw4['col'].str.split('"', expand = True)

In [12]:
df4["episode"] = "episode4"

In [13]:
df4n = df4.drop(df4.columns[[0, 1, 2, 4,6,7,8,9,10]], axis=1)

In [14]:
df4n = df4n.rename(columns={3:'char', 5:'dialogue'})

In [15]:
newdf = pd.concat([df4n,df5n], axis=0)

# Episode 4 done

In [16]:
sw6 = pd.read_csv("sw/SW_EpisodeVI.txt", sep=' "" ')

/home/andrestart/anaconda3/envs/iron/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [17]:
sw6.columns = ["col"]
df6 = sw6['col'].str.split('"', expand = True)

In [18]:
df6["episode"] = "episode6"
df6.head()

,0,1,2,3,4,5,6,7,8,episode
0,,1,,SHUTTLE CAPTAIN,,"Command station, this is ST 321. Code Clearanc...",,None,None,episode6
1,,2,,DEATH STAR CONTROLLER,,The security deflector shield will be deactiva...,,None,None,episode6
2,,3,,SHUTTLE CAPTAIN,,We're starting our approach.,,None,None,episode6
3,,4,,OFFICER,,Inform the commander that Lord Vader's shuttle...,,None,None,episode6
4,,5,,OPERATOR,,"Yes, sir.",,None,None,episode6

In [19]:
df6n = df6.drop(df6.columns[[0, 1, 2, 4,6,7,8]], axis=1)

In [20]:
df6n = df6n.rename(columns={3:'char', 5:'dialogue'})

In [21]:
findf = pd.concat([newdf, df6n], axis=0).reset_index()

In [22]:
findf = findf[['char','dialogue','episode']]
findf.head()

       char                                           dialogue   episode
0  THREEPIO  Did you hear that?  They've shut down the main...  episode4
1  THREEPIO                                      We're doomed!  episode4
2  THREEPIO  There'll be no escape for the Princess this time.  episode4
3  THREEPIO                                       What's that?  episode4
4  THREEPIO  I should have known better than to trust the l...  episode4

In [23]:
findf.to_csv("sw/cleandf.csv", index=False)