In [6]:
import pandas as pd
import sqlalchemy as alch
import os
import dotenv
import tools.sql_tools_insert_db as  db

ModuleNotFoundError: No module named 'tools'

In [98]:
df = pd.read_csv("sw/cleandf.csv")

In [139]:
def change(x):
    x = str(x).replace('"', " ")
    x = str(x).replace("'", " ")
    x = str(x).replace("/", "")
    x = str(x).replace("\\", "")

    return x

In [186]:
df['dialogue'] = df['dialogue'].apply(change)

       char                                           dialogue   episode
1670   LEIA                                        Not really.  episode5
1671  LANDO  You look absolutely beautiful. You truly belon...  episode5
1672   LEIA                                         Thank you.  episode5
1673  LANDO         Will you join me for a little refreshment?  episode5
1674  LANDO                     Everyone s invited, of course.  episode5
1675  LANDO                     Having trouble with you droid?  episode5
1676    HAN                               No. No problem. Why?  episode5
1677  LANDO  So you see, since we re a small operation, we ...  episode5

In [11]:
dotenv.load_dotenv()

True

In [12]:
password = os.getenv("pass")

dbName = "starwarsscr"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [13]:
engine

Engine(mysql+pymysql://root:***@localhost/starwarsscr)

# We start doing queries to insert values

In [184]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "char":
        query = list(engine.execute(f"SELECT `name char` FROM `char` WHERE `name char` = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        print(len(query))
        
    elif que == "episode":
        query = list(engine.execute(f"SELECT `name episode` FROM `episode` WHERE `name episode` = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "dialogue":
#         query = list(engine.execute(f"SELECT `dialogue` FROM `dialogue` WHERE `dialogue` = '{string}'"))
#         if len(query) > 0:
        return False
#         else:
#             return False

In [80]:
def char(string):
    if check("char", string):
        return "This character is already in your table"
    else:
        engine.execute(f"INSERT INTO `char` (`name char`) VALUES ('{string}');")

# We insert the characters in our database

In [75]:
for i in df['char']:
    char(i)

# Insert episodes

In [89]:
def episode(string):
    if check("episode", string):
        return "This episode is already in your table"
    else:
        engine.execute(f"INSERT INTO `episode` (`name episode`) VALUES ('{string}');")

In [182]:
for i in df['episode']:
    episode(i)

KeyboardInterrupt:

# Insert dialogues

In [123]:
def giveid(this,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if this == "char":
        return list(engine.execute(f"SELECT `idchar` FROM `char` WHERE `name char` ='{string}';"))[0][0]
    elif this == "episode":
        return list(engine.execute(f"SELECT `idepisode` FROM `episode` WHERE `name episode` ='{string}';"))[0][0]

In [150]:
def dialogue(row):
    if check("dialogue", row['dialogue']):
        if check("char", row['char']):
            idchar = giveid("char",row['char'])
        else:
            char(row['char'])
            idchar = giveid("char",row['char'])
        
        if check("episode", row['episode']):
            idepisode = giveid("episode", row['episode'])
        else:
            episode(row['episode'])
            idepisode = giveid("episode", row['episode'])
            
        
        engine.execute(f"""
        INSERT INTO `dialogue` (`dialogue`, `char_idchar`, `episode_idepisode`) VALUES
        ("{row['dialogue']}", "{idchar}","{idepisode}")
        ;
        """)

In [185]:
for _, row in df.iterrows():
    dialogue(row)

In [154]:
df.dialogue.tail()

2518         Wedge, I don t think we re going to make it.
2519          You ll make it. Just follow me Gold Leader.
2520    I promised to return his ship without a scratc...
2521                                             Lando...
2522                                         They did it!
Name: dialogue, dtype: object